{% extends "base.html.twig" %}

{% block meta %}

{% endblock %}


{% block title %}
    Curiculum Vitae de Mr Bancarel Valentin
{% endblock %}


{% block body %}
    <h1 class="page-title">Curiculum vitae</h1>

    <span class="acc-trigger">
        <a href="#">Competences</a>
    </span>
    <div class="acc-container">
        <div class="content">
            Developpement Web
            <ul class="check dotted">
                <li>HTML</li>
                <li>PHP</li>
                <li>MySQL</li>
                <li>CSS (base)</li>
            </ul>
            <br>
            Developpement Applicatif:
            <ul class="check dotted">
                <li>C#</li>
                <li>Objectiv-C (base)</li>
            </ul>
            <br>
            Logiciels utilisés:
            <ul class="check dotted">
                <li>Microsoft Visual Studio 2010-2012</li>
                <li>Netbeans</li>
                <li>WAMP-MAMP</li>
                <li>os x server (base)</li>
            </ul>
            <br>
            Framework utilisé:
            <ul class="check dotted">
                <li>Symfony 2</li>
            </ul>
        </div>
    </div><!-- end .acc-container -->


    <span class="acc-trigger">
        <a href="#">Formations</a>
    </span>
    <div class="acc-container">
        <div class="content">
            <ul class="dash dotted">
                <li>2005-2009: college prive Notre Dame des Miracles Mauriac</li>
                <li>2009-2012: BAC Sciences et Techniques de l' Industrie</li>
                <li>2012-2014: BTS Service Informatiques aux organisations</li>
                <li>2012-2014: autoformation au language Objectiv-C</li>
                <li>Niveau d'anglais BTS</li>
            </ul>
        </div>
    </div><!-- end .acc-container -->


    <span class="acc-trigger">
        <a href="#">Experiences professionels</a>
    </span>
    <div class="acc-container">
        <div class="content">
            <ul class="dash dotted">
                <li>2009 à 2013: emploi saisonnier tous les étés dans une brasserie a salers (cantal)</li>
                <li>21 mai 2013 - 28 juin 2013: Stage en entreprise dans le cadre de mon BTS dans l' entreprise <a href="http://archives.reseaucerta.org/sio/">Michel Visy Archivage</a> a Aurillac</li>
                <li>8 juillet 2013 - 25 juillet 2013: Developpement d'une application web pour l' entreprise <a href="http://archives.reseaucerta.org/sio/">Michel Visy Archivage</a> a Aurillac</li>
                <li>27 janvier 2014 - 7 fevrier 2014: Stage en entreprise dans le cadre de mon BTS <a href="#"></a> a Aurillac</li>
            </ul>
        </div>
    </div><!-- end .acc-container -->


    <span class="acc-trigger">
        <a href="#">Travaux personnels</a>
    </span>
    <div class="acc-container">
        <div class="content">
            <ul class="dash dotted">
                <li>Developpmeent d'un site web pour le park de vtt lioran free bike park du lioran disponible <a href="www.lioranfreebikepark.tk">ICI</a> qui n'est actuellement pas le site officiel</li>
                <li>Developpement de ce portefolio (<a href="www.bancarelvalentin.tk">www.bancarelvalentin.tk</a>) a l'aide d'une template css deja existante</li>
                <li>Mise en place  d'un serveur FTP, de l'hebergement de ce portefolio (<a href="www.bancarelvalentin.tk">www.bancarelvalentin.tk</a>) ainsi que d'autres services sur mon reseau local a l'aide d'os x server</li>
            </ul>
        </div>
    </div><!-- end .acc-container -->


    <span class="acc-trigger">
        <a href="#">Interets personnels</a>
    </span>
    <div class="acc-container">
        <div class="content">
            <ul class="dash dotted">
                <li>Devellopement (Web-Applicatif)</li>
                <li>VTT de descente</li>
                <li>Ski/Snowboard</li>
            </ul>
        </div>
    </div><!-- end .acc-container -->
{% endblock %}


{% block script %}

{% endblock %}