{% extends "base.html.twig" %}

{% block title %}
    Portefolio de Mr Bancarel Valentin
{% endblock %}


{% block body %}
    <h2 class="slogan align-center">Bienvenue sur mon portefolio</h2>

    <div class="one-half">
        <p>Je m'appelle <strong>Valentin Bancarel</strong>, j'ai 19 ans et je suis actuellement étudiant en 2ème année de <strong>BTS SIO</strong> 
            (Services Informatiques aux Organisations), spécialité <strong>SLAM</strong> (Solutions Logicielles 
             et Applications Métiers) en formation continue au lycée <a href='http://www.monnet-mermoz.fr/'>Jean Monnet</a> d'aurillac. Pour plus d'information 
             sur cette formation, vous puvez consulter <a href='http://archives.reseaucerta.org/sio/'>la fiche du BTS SIO</a> sur le reseau certa. </p>
    </div>
    <div class="one-half last">
         <p>J'ai créé ce portfolio dans le cadre de ma formation afin de mettre a disposition les différentes competences
             acquise et mes travaux réalisés durant ces 2 années de BTS que ce soit durant les activité et Projet Personnel Encadré réaliser en cours,
             mais deux stages en entreprise, ou encore dans le cadre de ma <a href='{{ path('portefolio_veille') }}'>veille technologique</a>.
    </div>
    <div class="clear"></div>



    <h2 class="slogan align-center">Ma Formation & Mon Parcours</h2>
    <div class="one-third last">
         <p>
             Issu d'un Baccalauréat Sciences et Techniques de l'Ingenieur (STI), je poursuis donc mes études en <strong>BTS SIO</strong>, 
             dans l'objectif de continuer ensuite mes études, pour me spécialiser dans le <strong>développement Web</strong> ou 
                 d'<strong>aplications mobiles</strong>. Tous cela dans l'optique d'en faire un jour mon metier.
         </p>
    </div>
    <div class="two-third">
         <p>
             J'ai à mon actif deux stage en entreprise réaliser dans le cadre de ma formation, ces stage
             d'une durée de 5 semaines ce sontt derouler dans l'entreprise <a href="http://www.archivage-visy.fr/">Michel Visy Archivage</a>
             a Aurillac, le premier stage a donner suite a un contrat de travail d'une durée de 
             trois semaine supplementaire. De ce fait, je connais bien les relations avec les clients ainsi que le travail en 
             milieu professionnel.
             Pour plus d'informations sur mon parcour professionnel, vous pouvez consulter mon <a href="{{ path('portefolio_cv') }}">CV</a>
         </p>
    </div>
{% endblock %}